[submodule "QualityEvaluation_AntiCheating_app"]
	path = QualityEvaluation_AntiCheating_app
	url = https://github.com/Duong123-art/QualityEvaluation_AntiCheating_app.git
[submodule "QualityEvalution_AntiCheating_BE"]
	path = QualityEvalution_AntiCheating_BE
	url = https://github.com/levinhdu/QualityEvalution_AntiCheating_BE.git
[submodule "QualityEvalution_AntiCheating_AI"]
	path = QualityEvalution_AntiCheating_AI
	url = https://github.com/leminhhuy132/QualityEvalution_AntiCheating_AI.git
[submodule "QualityEvalution_BE"]
	path = QualityEvalution_BE
	url = https://github.com/truongvntran/QualityEvalution_BE.git
